<main id="messages" class="messages">
    <div class="topic-header">
        <div class="content">
            {{ topic.title }}
        </div>
    </div>
    <div class="info">
        <div class="content">
            <div class="date-time">
                <div class="date"><span class="sprite calendar"></span>{{ topic.creationDate }}</div>
                <div class="time"><span class="sprite clock"></span>{{ topic.creationTime }}</div>
            </div>
            <div class="email" title="Email"><span class="sprite at"></span>{{ topic.email }}</div>
        </div>
    </div>
    <div class="content">
        <article class="tile form">
            <div class="content">
                <form id="new-message-form" class="new-message-form" name="form" novalidate>
                    <textarea name="text" placeholder="Type your message here..." tabindex="1" ng-model="message.text">
                    </textarea>
                    <div class="input-group">
                        <input class="new-message-email"
                               ng-model="message.email"
                               name="email"
                               required="required"
                               type="email"
                               placeholder="Type your email here..."
                               tabindex="2"/>
                        <div class="error-bubble" data-for="email">Please provide a valid email address</div>
                        <span>
                            <button type="submit" tabindex="3" class="submit-button" ng-click="send()">
                                Add comment
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </article>
        <div class="message-feed clearfix">
            <article class="tile"  ng-repeat="message in messages">
                <div class="content">{{ message.text }}</div>
                <div class="info">
                    <div class="date-time">
                        <div class="date"><span class="sprite calendar"></span>{{ message.creationDate }}</div>
                        <div class="time"><span class="sprite clock"></span>{{ message.creationTime }}</div>
                    </div>
                    <div class="email" title="Email"><span class="sprite at"></span>{{ message.email }}</div>
                </div>
            </article>
        </div>
    </div>
</main>