<main id="topics" class="clearfix content topics">
    <article class="tile form">
        <form id="new-topic-form" class="new-topic-form content" name="form" novalidate>
            <textarea name="title"
                      ng-model="topic.title"
                      placeholder="Type your topic's name here..."
                      tabindex="1"></textarea>
            <div class="input-group">
                <input id="new-topic-email"
                       required="required"
                       ng-model="topic.email"
                       class="new-topic-email"
                       name="email"
                       type="email"
                       placeholder="Type your email here..."
                       tabindex="2"/>
                <div class="error-bubble" data-for="email">Please provide a valid email address</div>
                <span><button type="submit"
                              ng-click="send()"
                              tabindex="3"
                              class="submit-button">Add</button></span>
            </div>
        </form>
    </article>

    <article class="tile topic" ng-repeat="topic in allTopics">
        <a href="#/topic/{{ topic.id }}"><div class="content">{{ topic.title }}</div></a>
        <div class="info">
            <div class="date-time">
                <div class="date"><span class="sprite calendar"></span>{{ topic.creationDate }}</div>
                <div class="time"><span class="sprite clock"></span>{{ topic.creationTime }}</div>
            </div>
            <div class="email" title="Email"><span class="sprite at"></span>{{ topic.email }}</div>
        </div>
    </article>
</main>
